In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#loading Data
dataset=pd.read_csv('heart.csv')

In [3]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [10]:
#spliting data in Feature(x) and Target(y)
X=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]

In [11]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [12]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [13]:
#sliting data to train and test the classifier 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.2,random_state=0)

In [18]:
#applying GaussioanNB 
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier.fit(X_train,y_train)
y_predict=classifier.predict(X_test)

In [22]:
#Checking accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_predict, y_test)*100

85.24590163934425

In [21]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_predict, y_test)

array([[21,  3],
       [ 6, 31]], dtype=int64)