In [1]:
#@ Maee-in-mind
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#loading Data
dataset=pd.read_csv('heart.csv')
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:
X=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]

In [3]:
from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test=tts(X,y,test_size=0.2,random_state=0)

In [10]:
from sklearn.naive_bayes import MultinomialNB
classifier2=MultinomialNB()
classifier2.fit(X_train,y_train)
y_predict2=classifier2.predict(X_test)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(y_predict2, y_test)*100

77.04918032786885

In [13]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_predict2, y_test)

array([[19,  6],
       [ 8, 28]], dtype=int64)

In [8]:
from sklearn.naive_bayes import BernoulliNB
classifier3=BernoulliNB()
classifier3.fit(X_train,y_train)
y_predict3=classifier3.predict(X_test)

In [9]:
from sklearn.metrics import accuracy_score
accuracy_score(y_predict3, y_test)*100

81.9672131147541

In [12]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_predict3, y_test)

array([[20,  4],
       [ 7, 30]], dtype=int64)